<div class="chat-list">
    <div class="chat">
        <span class="title">Chatroom #1</span>
        <div class="actions">
            <button class="button">Subscribe</button>
            <button class="chat-btn">
                <i class="fa-solid fa-message"></i>
            </button>
        </div>
    </div>
</div>